
{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
    <ul>
        {% for student in students_list %}
        <li>{{ student.name }} {{ student.group }} <br>
            <ul>
            {% for teacher in student.teacher.all %}
            <li> Преподаватель: {{ teacher }} (<i>{{ teacher.subject.lower }}</i>)</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>
{% endblock %}

