<!DOCTYPE html> {% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">

                  <!-- Ваша логика -->

          <table  class="u-full-width">
            <thead>
            <tr>
              <th>Год</th>
              <th>Январь</th>
              <th>Февраль</th>
              <th>Март</th>
              <th>Апрель</th>
              <th>Май</th>
              <th>Июнь</th>
              <th>Июль</th>
              <th>Август</th>
              <th>Сентябрь</th>
              <th>Октябрь</th>
              <th>Ноябрь</th>
              <th>Декабрь</th>
              <th>Всего</th>
            </tr>
            </thead>

            <tbody>

            {% for row in inflation_data %}
                <tr>
                  <td bgcolor="white">{{ row.Year }}</td>
                  <td>{{ row.Jan }}</td>
                  <td>{{ row.Feb }}</td>
                  <td>{{ row.Mar }}</td>
                  <td>{{ row.Apr }}</td>
                  <td>{{ row.May }}</td>
                  <td>{{ row.Jun }}</td>
                  <td>{{ row.Jul }}</td>
                  <td>{{ row.Aug }}</td>
                  <td>{{ row.Sep }}</td>
                  <td>{{ row.Oct }}</td>
                  <td>{{ row.Nov }}</td>
                  <td>{{ row.Dec }}</td>
                  <td bgcolor="gray">{{ row.Sum }}</td>
                </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    {% endblock %}

  </body>
</html>
